<div class = 'form form-horizontal'>
  <%= form_tag(controller: "properties", action: "add_bid", method: "post") do  %>

    <div class="field form-group">
      <%= label_tag :buyer%>
      <%= text_field( :bid, :buyer, style: 'margin-bottom: 20px;', class: 'form-control', required: 'true'  ) %>
    </div>

    <!-- <div class="field form-group">
      <%= label_tag :submit_time %>
      <%= text_field( :bid, :submit_time, class: 'datepicker') %>
    </div> -->

    <div class="field form-group ">
      <%= label_tag :amount %>
      <div class="left-inner-addon" style = 'margin-bottom: 20px; width: 200px;'>
        <span>$</span>
        <%= number_field( :bid, :amount,  required: 'true', class: 'form-control')%>
      </div>
    </div>

    <div class="field form-group">
      <%= label_tag :deposit_percent %>
      <div class ='right-inner-addon' style = 'margin-bottom: 20px; width: 80px;'>
        <span>%</span>
        <%= number_field( :bid, :deposit_percent, class: 'form-control', value: 10, required: 'true' ) %>
      </div>
    </div>

    <div class="field form-group">
      <%= label_tag :terms %>
      <%= text_area( :bid, :terms, style: 'margin-bottom: 20px;', class: 'form-control', placeholder: 'Specify terms and conditions' ) %>
    </div>

    <div class="actions form-group">
      <%= submit_tag nil, class: 'btn btn-default form-control'%>
    </div>

  <% end %>
</div>
