<div class = 'form form-group'>
  <%= form_tag(controller: "properties", action: "add_bid", method: "post") do  %>

    <div class="field">
      <%= label_tag :buyer%>
      <%= text_field( :bid, :buyer, style: 'margin-bottom: 20px;' ) %>
    </div>

    <div class="field">
      <%= label_tag :submit_time %>
      <%= datetime_select :bid, :submit_time %>
    </div>

    <div class="field">
      <%= label_tag :amount %>
      <%= number_field( :bid, :amount, style: 'margin-bottom: 20px;' )%>
    </div>

    <div class="field">
      <%= label_tag :deposit_percent %>
      <%= number_field( :bid, :deposit_percent, style: 'margin-bottom: 20px;' ) %>
    </div>

    <div class="field">
      <%= label_tag :terms %>
      <%= text_field( :bid, :terms, style: 'margin-bottom: 20px;' ) %>
    </div>

    <div class="actions">
      <%= submit_tag %>
    </div>

  <% end %>
</div>
