
<div class = 'form form-horizontal'>
  <%= form_with(model: property, local: true) do |form| %>
    <% if property.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

        <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= form.label :seller, class: 'form__label'%>
      <%= form.text_field :seller, id: :property_seller, style: 'margin-bottom: 20px;', class: 'form-control', required: 'true' %>
    </div>

    <div class="field form-group">
      <%= form.label :price, class: 'form__label'%>
      <div class="left-inner-addon" style = 'margin-bottom: 20px; width: 200px;'>
        <span>$</span>
        <%= form.number_field :price, id: :property_price, style: 'margin-bottom: 20px;', class: 'form-control', required: 'true' %>
      </div>
    </div>

    <div class="field form-group">
      <%= form.label :settlement_period, class: 'form__label' %>
      <div class="input-group" style = 'width: 150px; margin-bottom: 20px;'>
        <%= form.number_field :settlement_period, id: :property_settlement_period,
        class: 'form-control', required: 'true', max: '52', min: '0', value: '8' %>
        <span class="input-group-addon">weeks</span>
      </div>
    </div>

    <div class="field form-group">
      <%= form.label :min_deposit_percent, class: 'form__label' %>
      <div class ='right-inner-addon' style = 'margin-bottom: 20px; width: 80px;'>
        <span>%</span>
        <%= form.number_field :min_deposit_percent, id: :property_min_deposit_percent,
         class: 'form-control', required: 'true', max: '100', min: '5', value: '10' %>
      </div>
    </div>

    <div class="field form-group">
      <%= form.label :address, class: 'form__label' %>
      <%= form.text_field :address, id: :property_address, style: 'margin-bottom: 20px;', class: 'form-control', required: 'true' %>
    </div>

    <div class="field form-group">
      <%= form.label :time_open, class: 'form__label' %>
      <div class="input-group" style = 'width: 150px; margin-bottom: 20px;'>
        <%= form.number_field :time_open, id: :property_time_open,
         class: 'form-control', required: 'true', min: 12, max: 1000, value: 48 %>
        <span class="input-group-addon">hours</span>
    </div>

    <div class="actions">
      <%= form.submit nil, class: 'btn btn-default form-control', style: 'margin-top:20px;'%>
    </div>
  <% end %>
</div>
