<p id="notice"><%= notice %></p>

<div class = 'wrapper--horizontal'>
  <h1 class = 'heading'>Properties</h1>

  <button class = 'btn btn--property'>
    <%= link_to 'New Property', new_property_path %>
  </button>

  <div class = 'wrapper--horizontal search'>
    <input type = 'text' placeholder = 'Search properties ...' class = 'search__input'>
    <!-- <button class = 'search__btn'> Go </button> -->
  </div>
</div>




<div class = 'properties'>
  <% @properties.each_with_index do |property, i| %>
    <%= link_to property do %>
      <div class = 'properties__block'>
        <img src = "<%= "assets/house#{i}.jpg" %>" class = 'image'>
      </div>

      <div class = 'properties__price'>
        $ <%= number_with_delimiter(property.price) %>
      </div>

      <div class = 'properties__address'>
        <%= property.address %>
      </div>

    <% end %>
  <% end %>


</div>

<!-- <table>
  <thead>
    <tr>
      <th>Seller</th>
      <th>Price</th>
      <th>Settlement period</th>
      <th>Min deposit percent</th>
      <th>Address</th>
      <th>Time open</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.seller %></td>
        <td><%= property.price %></td>
        <td><%= property.settlement_period %></td>
        <td><%= property.min_deposit_percent %></td>
        <td><%= property.address %></td>
        <td><%= property.time_open %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->
