

<div class = 'wrapper--horizontal'>
  <div class = 'wrapper--vertical'>

    <div id="slideshow" class = 'properties__block properties__block--large'>
      <button id='left' class = 'arrow' onclick="lastImage()" > < </button>
        <div class = 'image-container'>
          <div class = 'inner-image-container'>
            <img alt="slideshow" id="image"/>
          </div>
          <div id = 'caption'>
          </div>
        </div>
      <button id='right' class = 'arrow' onclick="nextImage()" > > </button>

    </div>

    <div class = 'property__address caption'>
      <%= @property.address %>
    </div>
  </div>

  <div class = 'wrapper--vertical'>
    <p>Time remaining:</p>
    <div class = 'bright-text'>
      <%= @property.time_open %> hours
    </div>

    <p>Current Offer:</p>
    <div class = 'bright-text'>
      $<%= number_with_delimiter(@property.bids.last.amount) %>
    </div>

    <%= link_to "/properties/#{@property.id}/new_bid" do %>

      <button class = 'btn btn--offer'>
        Make an Offer
      </button>
    <% end %>
  </div>
</div>


<br><br><br><br>


<!-- Only show bid history once there are bids -->
<% if @property.bids.present? %>
  <h2> Offer History: </h2>

  <table>
    <thead>
      <tr>
        <th>Amount</th>
        <th>Submit time</th>
        <th>Deposit %</th>
        <th>Terms</th>

      </tr>
    </thead>

    <tbody>
      <% @property.bids.reverse_each do |bid| %>
        <tr>
          <td>$<%= number_with_delimiter(bid.amount) %></td>
          <td><%= bid.updated_at.strftime("%A %e %B %l:%M%P ")  %></td>
          <td><%= bid.deposit_percent %>%</td>
          <td><%= bid.terms %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class = 'wrapper--horizontal min-price'>
  <span>
    $<%= number_with_delimiter(@property.price) %>:
    minimum price the seller will accept
  </span>
</div>


<script>

  // This is here so that elements of img list work locally
  function locationShim() {
    return "<%= request.base_url %>"
    // return document.location.href.replace("index.html", "")
  }

  // Code for changing images
  // imgs and captions must contain the same number of elements exactly
  var imgs = [
    locationShim() + "/assets/house0.jpg",
    locationShim() + "/assets/house1.jpg",
    locationShim() + "/assets/house2.jpg",
  ]

  var img = document.getElementById("image");
  img.src = imgs[0];


  function showButtons(){
    if (imgs.indexOf(img.src) == 0) {
       document.getElementById('left').style.visibility = 'hidden';
       document.getElementById('right').style.visibility = 'visible';
    } else if (imgs.indexOf(img.src) == imgs.length - 1) {
      document.getElementById('right').style.visibility = 'hidden';
      document.getElementById('left').style.visibility = 'visible';
    } else {
      document.getElementById('right').style.visibility = 'visible';
      document.getElementById('left').style.visibility = 'visible';
    }
  }

  showButtons();

  function nextImage() {
    // If we reached the end
    if (imgs.indexOf(img.src) < imgs.length - 1) {
      // Show next image and next caption
      img.src = imgs[imgs.indexOf(img.src) + 1];
    }
    showButtons();
  }

  function lastImage() {
    // If we've moved past the first image
    if (imgs.indexOf(img.src) > 0) {
      // Show the previous image and caption
      img.src = imgs[imgs.indexOf(img.src) - 1];
    }
    showButtons();
  }
</script>
