<p id="notice"><%= notice %></p>


<div class = 'wrapper--horizontal'>
  <div class = 'wrapper--vertical'>
    <div class = 'properties__block properties__block--large'>
      <img src = "<%= "/assets/house#{@property.id - 1}.jpg" %>" class = 'image image--large'>
    </div>

    <div class = 'property__address'>
      <%= @property.address %>
    </div>
  </div>

  <div class = 'wrapper--vertical'>
    <p>Time remaining:</p>
    <div class = 'bright-text'>
      <%= @property.time_open %> hours
    </div>

    <p>Current Offer:</p>
    <div class = 'bright-text'>
      $100,000
    </div>

    <%= link_to "/properties/#{@property.id}/new_bid" do %>

      <button class = 'btn btn--offer'>
        Make an Offer
      </button>
    <% end %>
  </div>
</div>


<br><br><br><br>


<!-- Only show bid history once there are bids -->
<% if @property.bids.present? %>
  <h2> Offer History: </h2>

  <table>
    <thead>
      <tr>
        <th>Amount</th>
        <th>Submit time</th>
        <th>Deposit %</th>
        <th>Terms</th>

      </tr>
    </thead>

    <tbody>
      <% @property.bids.each do |bid| %>
        <tr>
          <td>$<%= number_with_delimiter(bid.amount) %></td>
          <td><%= bid.submit_time.strftime("%A %e %B %l:%M%P ")  %></td>
          <td><%= bid.deposit_percent %>%</td>
          <td><%= bid.terms %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<!-- <p>
  <strong>Seller:</strong>
  <%= @property.seller %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Settlement period:</strong>
  <%= @property.settlement_period %>
</p>

<p>
  <strong>Min deposit percent:</strong>
  <%= @property.min_deposit_percent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Time open:</strong>
  <%= @property.time_open %>
</p> -->
