<p id="notice"><%= notice %></p>

<p>
  <strong>Seller:</strong>
  <%= @property.seller %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Settlement period:</strong>
  <%= @property.settlement_period %>
</p>

<p>
  <strong>Min deposit percent:</strong>
  <%= @property.min_deposit_percent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Time open:</strong>
  <%= @property.time_open %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
